$sm: 600px;
$md: 1024px;
$xl: 1280px;

$primary: #cecaff;
$primary-light: #d9d7f6;
$background: #fff0eb;
$secondary: #68738b;
$thirdary: #565a66;
$custom-black: #1c131e;
$white: white;
$black: black;
$light-grey: rgba(0, 0, 0, 0.1);
$container-width: 940px;
$secondary-container-width: 1360px;
