@import "library.scss";

.reportButton {
  background-color: $primary;
  border: inherit;
  padding: 0.2rem 0.6rem;
  min-height: inherit;
  color: $custom-black;
  min-height: 34px;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-karla);
}
